## Docker Compose ENVs
BACKEND_URL=
DOCKER_IMAGE=
## Pairwise Backend ENVs
NODE_ENV=
PINATA=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
SCHEMA_UID=
ACTIVE_CHAIN=
SECRET_KEY=
DKEY=
WORLD_ACTION_ID=
WORLD_APP_ID=
NEYNAR_API_KEY=
FARCASTER_SIGNER_UUID=